{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-5 {% if i.importance == "Easy" %} bg-success {% elif i.importance == "Medium" %}  bg-warning {% elif i.importance == "Difficult" %} bg-danger {% else %}  {% endif %}" style="width: 80rem; align-content: center;">
                    <div class="card-body">
                        <h5 class="card-title text-light"
                            style="text-align: center; font-size: x-large">{{ support_request.title }}</h5>
                        <p class="card-text"
                           style="text-align: center; font-size: x-large">{{ support_request.description }}</p>
                        <p class="card-text"
                           style="text-align: center; font-size: x-large">{{ support_request.creation_date }}</p>
                        <p class="card-text"
                           style="text-align: center; font-size: x-large">{{ support_request.creator }}</p>
                        <a href="{% url 'delete' support_request.id %}" class="btn mr-1 "
                           style="align-items: center"><i
                                class="fas fa-trash-alt rainbow-button"></i></a>
                        <a href="{% url 'update' support_request.id %}" class="btn "
                           style="align-items: center"><i
                                class="fas fa-pen rainbow-button"></i></a>
                        <a href="{% url 'list' %}" class="btn float-right text-right "
                           style="align-items: center"><i
                                class="fas fa-sync rainbow-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% if is_berufsbildner %}
    <div class="form-group">
        <label for="assigned_trainer">Assigned trainer</label>
        {{ form.assigned_trainer }}
    </div>
{% endif %}



{% endblock %}
