{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 mx-auto">
                <h1 class="text-center mt-3" style="color: white">Support Request</h1>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}" class="text-light">Title</label>
                        <input id="{{ form.title.id_for_label }}" type="text" placeholder="Title"
                               name="{{ form.title.html_name }}" class="form-control"
                               value="{{ form.title.value|default:'' }}">
                    </div>

                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}" class="text-light">Description</label>
                        <textarea id="{{ form.description.id_for_label }}" class="form-control" placeholder=" short description"
                                  name="{{ form.description.html_name }}"
                                  rows="5">{% if form.description.value %}
                            {{ form.description.value }}{% endif %}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.assigned_trainer.id_for_label }}" class="text-light">Assigned
                            Trainer</label>
                        <select id="{{ form.assigned_trainer.id_for_label }}"
                                class="form-control {% if form.assigned_trainer.errors %}is-invalid{% endif %}"
                                name="{{ form.assigned_trainer.html_name }}">
                            {% for trainer in trainers %}
                                <option value="{{ trainer.id }}"
                                        {% if form.assigned_trainer.value == trainer.id %}selected{% endif %}>
                                    {{ trainer.first_name }} {{ trainer.last_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback text-light">
                            Keine Trainer vorhanden ඞ
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.importance.id_for_label }}" class="text-light">Importance</label>
                        <select id="{{ form.importance.id_for_label }}"
                                class="form-control {% if form.importance.errors %}is-invalid{% endif %}"
                                name="{{ form.importance.html_name }}">
                            {% for ic in importance_choices %}
                                <option value="{{ ic.0 }}" {% if form.importance.value == ic.0 %}selected{% endif %}>
                                    {{ ic.0 }}
                                </option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="{{ form.status.id_for_label }}" class="text-light">Status</label>
                        <select id="{{ form.status.id_for_label }}"
                                class="form-control {% if form.status.errors %}is-invalid{% endif %}"
                                name="{{ form.status.html_name }}">
                            {% for sc in status_choices %}
                                <option value="{{ sc.0 }}" {% if form.status.value == sc.0 %}selected{% endif %}>
                                    {{ sc.0 }}
                                </option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <button type="reset" class="btn btn-danger btn-block">Verwerfen</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}