{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 mx-auto">
                <h1 class="text-center" style="color: white">Log in</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control mt-5" id="username" name="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control mt-3" id="password" name="password" placeholder="Password">
                    </div>



                    <button type="submit" class="btn btn-primary btn-block  mt-4">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}