.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.icon-color {
    color: #000000;
}

.icon-color:hover {
    color: rgb(255, 255, 255);
}


footer:before {
    content: "";
    background-color: #131c2a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: 1vh;
}

nav:before {
    content: "";
    background-color: #131c2a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer-text {
    color: white;
}

.navbar-nav {
    width: 100%;
}

.card-sizing {
    width: 300px;
    height: 300px;

}

.card-detail-sizing {
    width: 12vw;
    height: 12vh;

}


.importance_easy {
    background-color: #90A959 !important;
}

.danger {
    background-color: #A63D40 !important;
}

.warning {
    background-color: #E9B872 !important;
}

.done {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.grid {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.d-flex {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animate_home:hover {
    font-size: xxx-large;
    color: #ccc;
    transition: all 0.3s ease-in;
}

.sp_list_add_btn {
    position: fixed;
    bottom: 6em;
    right: 6em;
}