.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.icon-color{
  color: #000000;
}
.icon-color:hover{
  color: rgb(255, 255, 255);
}


footer:before{
    content: "";
    background-color: #131c2a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
nav:before{
    content: "";
    background-color: #131c2a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.footer-text {
    color: white;
}

.navbar-nav {
    width: 100%;
    margin-bottom: 450px;
}
.card {
  width: 300px;
  height: 300px;

}
.success{
  background-color: #38c754 !important;
}
.danger{
  background-color: #e33731 !important;
}
.warning{
  background-color: #ffed4a !important;
}